@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*LogIn CSS*/
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #4070f4;
}

.container{
    position: relative;
    max-width: 450px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 1, 0.9);
}

.container .form-login{
    padding: 30px;
}

.container .form-login .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;

}

.form-login .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height:  3px;
    width: 30px;
    background-color: #4070f4;
    border-radius: 25px;
    margin-top: 30px;
}

.form-login .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;

}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;

    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid skyblue;
    border-top: 2px solid transparent;
    transform: all 0.2s ease;
}

.input-field input:is(:focus, valid){
    border-bottom-color: #4070f4;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;

}

.input-field input:is(:focus, valid) ~ i{
    color: #4070f4;
}
.input-field i.icon{
    left: 0;
}

.input-field i.showHidePw{
    right: 0;
}

.form-login .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin: 0 8px -2px 4px;
    accent-color: #4070f4;
}

.form-login .text{
    color: #333;
    font-size: 14px;
}

.form-login a.text{
    color: #333 ;
    text-decoration: none;
}
.form-login a:hover{
    text-decoration: underline;
}
.btn{
    margin-top: 20px;
    font-size: 1.1rem;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background: rgb(125, 125, 235);
    color: whitesmoke;
    cursor: pointer;
    transition: 0.9s;
}
.btn:hover{
    background: #4070f4;
}

.links{
    display: flex;
    justify-content: space-around;
    padding: 0 4rem;
    margin-top: 0.9em;
    font-weight: bold;
}
button{
    color: rgb(50, 50, 127);
    border: none;
    background-color: transparent;
    font-size: 15px;
    padding-left: 10px;
}
button:hover{
    text-decoration: underline;
    color: #4070f4;
}
























